[submodule "android-companion/app/src/main/jniLibs"]
	path = android-companion/app/src/main/jniLibs
	url = https://github.com/SKKU-ESLAB/ant-android-libs-armeabi
[submodule "subprojects/ACL-lowp"]
	path = subprojects/ACL-lowp
	url = https://github.com/SKKU-ESLAB/ACL-lowp
[submodule "subprojects/auto-compression"]
	path = subprojects/Auto-Compression
	url = https://github.com/SKKU-ESLAB/Auto-Compression.git
[submodule "subprojects/CNN-on-flash"]
	path = subprojects/CNN-on-flash
	url = https://github.com/SKKU-ESLAB/CNN-on-flash
[submodule "subprojects/selective-connection"]
	path = subprojects/Virtual-Connection
	url = https://github.com/SKKU-ESLAB/Virtual-Connection
[submodule "dep/iotjs"]
	path = dep/iotjs
	url = https://github.com/SKKU-ESLAB/IoTJS-Plus
[submodule "dep/tvm"]
	path = dep/tvm
	url = https://github.com/apache/incubator-tvm
[submodule "dep/iotivity"]
	path = dep/iotivity
	url = https://github.com/iotivity/iotivity-lite
[submodule "dep/libcoap"]
	path = dep/libcoap
	url = https://github.com/obgm/libcoap
