tags
cscope
cscope.out
*.o
bin/*
!bin/.git_empty_file
SelectiveConnection.IAB
SelectiveConnection.IAD
SelectiveConnection.IMB
SelectiveConnection.IMD
SelectiveConnection.PFI
SelectiveConnection.PO
SelectiveConnection.PR
SelectiveConnection.PRI
SelectiveConnection.PS
