# Binaries
build/
out
*/out
node_modules
api/*/build/*
api/*/Release/*
api/*/*.node

# Ctags, Cscope
tags
*/tags
cscope.out
*/cscope.out

# Cmake, Make
CMakeCache.txt
*/CMakeCache.txt
CMakeFiles
*/CMakeFiles
cmake_install.cmake
*/cmake_install.cmake
Makefile
*/Makefile

# Sconscript
*-e

# IDE Related
.vscode
*.swp