mainmenu "ANT Framework Configuration"

# Target boards' type
choice
  prompt "Target Board Type"
  default TARGET_RASPBERRY_PI_2_3
  help
    Target board type decides which device driver it uses

config TARGET_RASPBERRY_PI_2_3
  bool "Raspberry Pi 2/3"
  help
    Build ANT for Raspberry Pi 2 or 3

config TARGET_TEGRA_TX
  bool "Tegra TX1/TX2"
  help
    Build ANT for Tegra TX1 or TX2

config TARGET_OTHER
  bool "Other Device"
  help
    Build ANT for other devices with virtual device drivers

endchoice

# Target device profile
# TODO: configurable WFD support
choice
  prompt "Target Profile"
  default PROFILE_CAMERA_BASED_SENSOR_DEVICE

  config PROFILE_NORMAL_SENSOR_DEVICE
    bool "Normal Sensor Device"
    select SENSOR_FW
    select COMM_FW
    select COMM_BT_SUPPORT
    select COMM_WFD_SUPPORT
    help
      Sensor device with several sensors

  config PROFILE_CAMERA_BASED_SENSOR_DEVICE
    bool "Camera-based Sensor Device"
    select SENSOR_FW
    select CAMERA_FW
    select COMM_FW
    select COMM_BT_SUPPORT
    select COMM_WFD_SUPPORT
    help
      Sensor device with several sensors and cameras

  config PROFILE_GATEWAY_DEVICE
    bool "Gateway Device"
    select GATEWAY_FW
    select COMM_FW
    select COMM_BT_SUPPORT
    select COMM_WFD_SUPPORT
    help
      Gateway device without any sensors or cameras
endchoice

source "framework/Kconfig"

menu "JavaScript APIs"
  source "api/Kconfig"
  source "new-api/Kconfig"
endmenu

source "apps/Kconfig"

source "models/Kconfig"