config ML_JS_API
  bool "Machine Learning Inference API"
  depends on ML_FW
  default y if ML_FW
  help
    JavaScript-based Machine Learning Inference API

config COMM_JS_API
  bool "Communication API"
  depends on COMM_FW
  default y if COMM_FW
  help
    JavaScript-based Communication API to interact with companion devices

config REMOTE_UI_JS_API
  bool "Remote UI API"
  depends on COMM_JS_API
  default y if COMM_JS_API
  help
    JavaScript-based Remote UI API to display Remote UI on companion devices