config SENSOR_JS_API
  bool "Sensor API"
  depends on SENSOR_FW
  default y if SENSOR_FW
  help
    JavaScript-based Sensor API

config CAMERA_JS_API
  bool "Camera API"
  depends on CAMERA_FW
  default y if CAMERA_FW
  help
    JavaScript-based Camera API

config CLOUD_JS_API
  bool "Cloud API"
  default n
  help
    JavaScript-based Cloud API

menuconfig CLOUD_PLUGIN
  bool "Cloud Plug-ins"
  depends on CLOUD_JS_API
  default n
  help
    JavaScript-based Cloud Plug-ins

if CLOUD_PLUGIN
config GOOGLE_CLOUD_PLUGIN
  bool "Google Cloud Plug-in"
  depends on CLOUD_JS_API
  default y if CLOUD_PLUGIN=y
  help
    JavaScript-based Google Cloud Plug-in

endif # CLOUD_PLUGIN